{%extends 'accounts/base.html'%}
{%block content%}
<div class="" container">
    <div class="" jumbotron">
        {%if pasw%}
        <div class="card card-body">
            <h1 style="text-align: center;">✅</h1>
        <h1 style="text-align: center;">Password Changed Sucessfully</h1>
        <h3 style="text-align: center;">plase proceed to <a href="login">login</a></h3>
        </div>
        {%else%}
        <div class="row">
            <h1>Forget Password</h1>
            <br>
            <div class="card card-body">
                <form action="{%url 'forget_password'%}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-danger" value="RESER PASSWORD">
                </form>
                <br>

            </div>
        </div>
        {% endif %}
    </div>

</div>

{%endblock%}