{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="jumbotron">
        <div class="card card-body">
            <h1 style="text-align: center;">Update Details</h1>
            <form action="{% url 'update' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="row">
                    <div class="col-md-6">
                        {{ form.username|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.email|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ form1.Door_no|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form1.street|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ form1.city|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form1.state|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ form1.zipcode|as_crispy_field }}
                    </div>
                   
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ form1.profile_pic|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center mt-3">
                        <input type="submit" class="btn btn-primary" value="Update">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
