{%extends 'defects/base.html' %}
{%block content%}

<div class="container">
    <div class="jumbotron">
        <h1 style="text-align: center;">descriptions</h1>
        <div class=" card card-body">
            <h2>Name: {{ defects.defectName}}</h2>
            <h2>priority {{defects.priority}}</h2>
            <h3>Assigned By: {{ defects.assigned_by }}</h3>
            <div class="card card-body">
                {{ defects.description}}
                <div>
                    <h3>Screenshots</h3>
                    {% if screenshots %}
                    {% for shot in screenshots %}
                    <img src="{{ shot.defect_img.url }}" alt="Defect Image" style="max-width:300px;">
                    {% endfor %}
                    {% else %}
                    <p>No image available</p>
                    {% endif %}
                </div>
            </div>






        </div>

    </div>
</div>
{%endblock%}